<div class="container-fluid my-4">
  <!-- Fila con input, botón y calendario -->
  <div class="row align-items-start mb-4 g-3">
    <div class="col-12 col-md-4">
      <input type="text" class="form-control" placeholder="Buscar..." />
    </div>
  </div>
  <h3 class="text-center mb-3" style="color: white;">Mi actividades</h3>

  <!-- Tabla a ancho completo -->
  <div class="table-responsive shadow rounded">
    <table class="table table-striped table-hover align-middle w-100">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of activis">
          <td>{{activity.name}}</td>
          <td>{{activity.type}}</td>
          <td><span class="badge bg-success">{{activity.state}}</span></td>
          <td>
            <button class="btn btn-sm btn-info me-2">Accerder</button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
