<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" [opened]="sidenavOpened" mode="side">
    <nav class="custom-nav">
      <a (click)="closeSidenav()" routerLink="/home/main" *ngIf="!isInHomeOrMain" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  >Inicio <mat-icon>arrow_back</mat-icon></a>      
      <a (click)="closeSidenav()" routerLink="/home/perfil" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Mi perfil  <mat-icon>person</mat-icon></a>
      <a (click)="closeSidenav()" routerLink="/home/myactivity" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Mis actividades <mat-icon>pending_actions</mat-icon></a>
      <a (click)="closeSidenav()" routerLink="/home/workers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Gestión de usuario <mat-icon>groups</mat-icon></a>
      <a (click)="closeSidenav()" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Cerrar sesión <mat-icon>logout</mat-icon></a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Nombre del usuario</span>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
