<div class="center-screen">
<form class="form">
    <p class="title">Login </p>
    <p class="message">Inicia sesion ahora y obtén acceso completo a nuestra aplicación. </p>
            
    <label>
        <input class="input" type="email" placeholder="" required="">
        <span>Email</span>
    </label> 
        
    <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Constaseña</span>
    </label>
    <button class="submit" routerLink="/home">Iniciar</button>
    <p class="signin">No tengo cuenta <a routerLink="/register">registrate</a> </p>
</form>
</div>

