<div class="center-screen">
<form class="form" [formGroup]="form">
    <p class="title" >Login </p>
    <p class="message">Inicia sesion ahora y obtén acceso completo a nuestra aplicación. </p>
            
    <label>
        <input class="input" type="email" formControlName="email" placeholder="" required>
        <span>Email</span>
    </label> 
        
    <label>
        <input class="input" [type]="showPassword ? 'text' : 'password'" formControlName="pass" placeholder="" required>
        <span>Constaseña</span>
        <button type="button" (click)="togglePasswordVisibility()" style="position: absolute; right: 10px; top: 10px; background: none; border: none; cursor: pointer;">
        <mat-icon>visibility</mat-icon>
      </button>
    </label>
    
    <button class="submit" (click)="loginUser()">Iniciar</button>
    <p class="signin">No tengo cuenta <a routerLink="/register">registrate</a> </p>
    <p class="signin">He <a (click)="recoverPassword()">Olvidado la Contraseña</a> </p>
</form>
</div>

