<div class="center-screen">
  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <p class="title">Register</p>
    <p class="message">Registrate ahora y obtén acceso completo a nuestra aplicación.</p>

    <div class="flex">
      <label>
        <input class="input" type="text" formControlName="name" name="name" placeholder="" required>
        <span>Nombre</span>
      </label>

      <label>
        <input class="input" type="text" formControlName="lastname" name="lastname" placeholder="" required>
        <span>Apellido</span>
      </label>
    </div>

    <label>
      <input class="input" type="text" formControlName="dni" placeholder="" name="dni" required>
      <span>DNI</span>
    </label>

    <label>
      <input class="input" type="email" formControlName="email" placeholder="" name="email" required>
      <span>Email</span>
    </label>

    <label>
      <input class="input" type="text" formControlName="telephone" placeholder="" name="telephone" required>
      <span>Nº de teléfono</span>
    </label>

    <label style="position: relative;">
      <input [type]="showPassword ? 'text' : 'password'" class="input" formControlName="pass" placeholder="" name="pass" required>
      <span>Contraseña</span>
      <button type="button" (click)="togglePasswordVisibility()" style="position: absolute; right: 10px; top: 10px; background: none; border: none; cursor: pointer;">
        <mat-icon>visibility</mat-icon>
      </button>
    </label>

    <button class="submit" type="submit">Registrar</button>
    <p class="signin">Ya tengo cuenta <a routerLink="/login">Iniciar sesión</a></p>
  </form>
</div>
