<div class="center-screen">
<form class="form">
    <p class="title">Register </p>
    <p class="message">Registrate ahora y obtén acceso completo a nuestra aplicación. </p>
        <div class="flex">
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>Nombre</span>
        </label>

        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>Apellido</span>
        </label>
    </div>  
            
    <label>
        <input class="input" type="email" placeholder="" required="">
        <span>Email</span>
    </label> 
    <label>
        <input class="input" type="text" placeholder="" required="">
        <span>Nº de telefono</span>
    </label> 
        
    <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Constaseña</span>
    </label>
    <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Confirmar Contraseña</span>
    </label>
    <button class="submit" routerLink="/home">Registrar</button>
    <p class="signin">Ya tengo cuenta <a routerLink="/login">Iniciar sesion</a> </p>
</form>
</div>
