<div class="modal-backdrop" (click)="close()"></div>
<div class="modal-content">
  <form [formGroup]="form" (ngSubmit)="saveClient()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input id="name" type="text" formControlName="name" placeholder="Introduce el nombre" />
    </div>

    <div class="form-group">
      <label for="cif">CIF:</label>
      <input id="cif" type="text" formControlName="cif" placeholder="Introduce el CIF" />
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email" placeholder="Introduce el email" />
    </div>

    <div class="button-group">
      <button type="submit">Guardar</button>
      <button type="button" (click)="close()">Cancelar</button>
    </div>
  </form>
</div>