<div class="container-fluid mt-5">
    <button class="btn btn-secondary btn-back" (click)="back()">← Volver</button>
    
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card-custom mb-4 p-4 text-center">
                <h2 class="mb-3">{{client.name}}</h2>
                <p><strong>Ubicación:</strong> {{center.location}}</p>
                <p><strong>Calle:</strong> {{center.address}}</p>
                <p><strong>Teléfono:</strong> {{center.telephone}}</p>
            </div>
        </div>
    </div>

    <!-- Sección de Actividades -->
    <h3 class="text-center mb-3" style="color: white;">Actividades</h3>
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-6 d-flex">
            <input type="text" class="form-control me-2" placeholder="Buscar actividad...">
            <button class="btn btn-primary" (click)="showModal = true">Añadir</button>

             <app-addactivity *ngIf="showModal" [id_center]="center.id" [updateactivity]="updateactivity"  (onClose)="handleClose()"></app-addactivity>
             <app-reassing *ngIf="showModalReassing" [ReassingActivity]="updateactivity"  (onClose)="handleClose()"></app-reassing>
        </div>
    </div>

    <!-- Tabla de actividades -->
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let acti of activity">
                    <td>{{acti.name}}</td>
                    <td>{{acti.type}}</td>
                    <td>{{acti.fecha_acti}}</td>
                    <td>{{acti.state}}<span class="badge bg-danger text-white"  *ngIf="acti.archive == 1"> Archivado</span> </td>
                    <td>
                        <button class="btn btn-sm btn-warning me-2" *ngIf="user.level == 3" (click)="btnUpdateActivity(acti)">Editar</button>
                        <!-- Aqui tendremos que mandarlo a fomulario de actividades -->
                        <button class="btn btn-primary btn-sm me-2" *ngIf="acti.state == 'Finalizada' && acti.archive == 0" (click)="btnShowActivity(acti)">Ver</button>

                        <button class="btn btn-sm btn-primary  me-2" *ngIf="user.level == 3" (click)="btnReassingActivity(acti)">Reasignar</button>

                        <!-- Para arcivar y desarchivar actividades -->
                        <button class="btn btn-sm btn-secondary me-2" *ngIf="acti.archive == 0 && user.level == 3" (click)="archiveActivity(acti)">Archivar</button>
                        <button class="btn btn-sm btn-secondary me-2" *ngIf="acti.archive == 1 && user.level == 3" (click)="archiveActivity(acti)">Desarchivar</button>

                        <button class="btn btn-sm btn-danger" *ngIf="acti.archive == 1 && user.level == 3" (click)="deleteActivity(acti)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>