<div class="container-fluid my-4">
  <!-- Fila con input, botón y calendario -->
  <div class="row align-items-start mb-4 g-3">
    <div class="col-12 col-md-4">
      <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filterText" name="filter">
    </div>
    <div class="col-12 col-md-2 d-grid">
      <!-- Botón para mostrar el modal y añadir usuario-->


    </div>
  </div>
  <h2 class="fw-bold" style="color: white;">Usuario</h2>
  <!-- Tabla a ancho completo -->
  <div class="table-responsive shadow rounded">
    <table class="table table-striped table-hover align-middle w-100">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Contactos</th>
          <th>Estado</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredClients; let i = index;">
          <td>{{user.name}}</td>
          <td>{{user.dni}}</td>
          <td><div>{{user.email}}</div>
  <div class="text-muted small">{{user.telephone}}</div></td>
          <td><span class="badge bg-success">{{user.state}}</span></td>
          <td>{{ user.level === 3 ? 'Admin' : user.level === 1 ? 'Técnico' : 'Otro' }}</td>
          <td>
            <button class="btn btn-sm btn-info me-2" (click)="btnUpdateUser(user)">Editar</button>
            <app-adduser *ngIf="showModal" [updateuser]="userupdate" (onClose)="handleClose()"></app-adduser>

            <button class="btn btn-sm btn-warning me-2" *ngIf="user.state == 'Desabilitado'" (click)="btnUserDisable(user)">Habilitar</button>
            <button class="btn btn-sm btn-secondary me-2" *ngIf="user.state == 'Habilitado'" (click)="btnUserDisable(user)">Desabilitar</button>
            <button class="btn btn-sm btn-danger"*ngIf="user.state == 'Desabilitado'" (click)="btndeleteUser(user)">Eliminar</button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
