<div class="container-fluid my-4">
  <!-- Fila con input, botón y calendario -->
  <div class="row align-items-start mb-4 g-3">
    <div class="col-12 col-md-4">
      <input type="text" class="form-control" placeholder="Buscar..." />
    </div>
    <div class="col-12 col-md-2 d-grid">
      <!-- Botón para mostrar el modal y añadir usuario-->


    </div>
  </div>

  <!-- Tabla a ancho completo -->
  <div class="table-responsive shadow rounded">
    <table class="table table-striped table-hover align-middle w-100">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Contactos</th>
          <th>Estado</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users;">
          <td>{{user.name}}</td>
          <td>{{user.dni}}</td>
          <td><div>{{user.email}}</div>
  <div class="text-muted small">{{user.telephone}}</div></td>
          <td><span class="badge bg-success">{{user.state}}</span></td>
          <td>{{user.level}}</td>
          <td>
            <button class="btn btn-sm btn-info me-2">Editar</button>
            <button class="btn btn-sm btn-danger">Eliminar</button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
